.trigger {
    width: 20px;
    height: 20px;
    display: none;
}

/* 選中狀態 */
.trigger:checked {
    width: 40px;
    height: 40px;
}

.content {
    padding: 15px;
    background-color: #3e3eff;
    color: #fff;
    display: none;
}

.trigger:checked ~ .content {
    display: block;
}

.trigger-btn,
.trigger-btn2 {
    padding: 10px 20px;
    background-color: #3e3eff;
    color: #fff;
    border: none;
    font-size: 16px;
    margin: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.trigger:checked ~ .trigger-btn {
    display: none;
}

.trigger:checked ~ .trigger-btn.close {
    display: inline-block;
}

.trigger-btn.close {
    background-color: red;
    display: none;
}

.trigger-btn2 > span.close {
    display: none;
}

.trigger-btn2 > span.open {
    display: none;
}

.trigger:checked ~ .trigger-btn2 > span {
    display: none;
}

.trigger:checked ~ .trigger-btn2 > span.close {
    display: inline-block;
}

.trigger:checked ~ .trigger-btn2 {
    background-color: red;
}
