.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    border: 1px solid #000;
    padding: 10px;
    background-color: #f0f0f0;
}

.table td {
    border: 1px solid #000;
    padding: 10px;
}

.table tr td:last-child {
    text-align: right;
}

/* 性別欄位顯示藍色 */
.table tr td:nth-child(2) {
    color: blue;
}

/* 分數欄位顯示紅色 */
.table tr td:nth-child(3) {
    color: red;
}

/* 偶數行顯示淺灰色 even, odd 單數行*/
.table tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}
